<div class="card">
  <a  class="btn btn-info" data-toggle="modal" data-target="#detalleFactura">
    Agregar Concepto
  </a>

  <!-- Modal -->
  <div class="modal fade" id="detalleFactura" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Agregar Concepto a la factura</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="">Cantidad</label>
          <input type="text" class="form-control" [(ngModel)]="cantidad">
          <label for="">Descripción</label>
          <input type="text" class="form-control" [(ngModel)]="descripcion">
          <label for="">Valor unitario</label>
          <input type="text" class="form-control" [(ngModel)]="valorUnitario">
          <label for="">Valor total</label>
          <input type="text" class="form-control" [(ngModel)]="valorTotal">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancelar</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="guardarDetalle()">Guardar</button>
        </div>
      </div>
    </div>
  </div>


  <ul class="list-group">

    <li class="list-group-item active"  aria-disabled="true">
      <div class="row">
        <div class="col">
          Cantidad
        </div>
        <div class="col">
          Descripción
        </div>
        <div class="col">
          Valor unitario
        </div>
        <div class="col">
          Valor Total
        </div>
        <div class="col">
          Gestionar Concepto
        </div>
      </div>
    </li>

    <li class="list-group-item" *ngFor = "let row of detalle">
      <div class="row">
        <div class="col">

          <p>{{row.cantidad}}</p>
        </div>
        <div class="col">
          {{row.producto}}
        </div>
        <div class="col">
          {{row.valorUnidad}}
        </div>
        <div class="col">
          {{row.total}}
        </div>
        <div class="col">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <mat-icon aria-hidden="false" aria-label="Example home icon">more_vert</mat-icon>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" data-toggle="modal" data-target="#detalleFactura" (click)='editardetalle(row)'>Editar</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#eliminardetalle" (click)='eliminardetalle(row)'>Eliminar</a>
            </div>
          </div>
        </div>
      </div>
    </li>

  </ul>


  </div>

