<div class="container">
  <div class="card">
    <div class="card-header  bg-info mb-3">
        <h1>Registar Factura</h1>
    </div>
    <div class="card-body">
      <div class="card">
          <div class="card-header  bg-secondary mb-3">
            <h3 class="text-white">Información del Proveedor</h3>
            <button class="btn btn-warning" (click)="guardarProveedor()">Guardar Proveedor</button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <label for="">Identificación</label>
              <input type="text" class="form-control" [(ngModel)]="identificacion">
            </div>

            <div class="col">
              <label for="">Tipo de Identificación</label>
              <select  class="form-control" [(ngModel)]="tipoDocumento">
                <option value="NIT">NIT</option>
                <option value="CC">Cedula de Ciudadnia</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="">Nombre de Proveedor</label>
              <input type="text" class="form-control" [(ngModel)]="nombreProveedor">
            </div>
            <div class="col">
              <label for="">Tipo de Régimen</label>
              <select  class="form-control" [(ngModel)]="regimen">
                <option value="Régimen Común">Régimen Común</option>
                <option value="Régimen Simplificado">Régimen Simplificado</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="">Dirección</label>
              <input type="text" class="form-control" [(ngModel)]="direccion">
            </div>
            <div class="col">
              <label for="">Teléfono</label>
              <input type="text" class="form-control" [(ngModel)]="talefono">
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header  bg-secondary mb-3">
          <h3 class="text-white">Información de la factura</h3>
          <button class="btn btn-warning" (click)="guardarFactura()">Guardar Factura</button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <label for="">Fecha de la Factura</label>
              <input type="date" class="form-control" [(ngModel)]="fechaFactura">
            </div>
            <div class="col">
              <label for="">Número de la Factura</label>
              <input type="text" class="form-control" [(ngModel)]="factura">
            </div>
          </div>
          <div class="card-body">
            <app-detalle factura="{{factura}}"></app-detalle>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                IVA
              </div>
              <div class="col">
                <input type="number" class="form-control" [(ngModel)]="iva">
              </div>
            </div>
            <div class="row">
              <div class="col">
                TOTAL
              </div>
              <div class="col">
                <input type="number" class="form-control" [(ngModel)]="total">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
