<div class="container">
  <div class="login-box">
  <div class="card">
    <div class="card-header">
      <h1>Iniciar Sessión</h1>
    </div>

    <div class="card-body login-card-body">

      <label for="">Usuario</label>
        <div class="input-group mb-3">
          <input  type="text" class="form-control" [(ngModel)]="usuario" placeholder="Usuario">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <label for="">Contraseña</label>
        <div class="input-group mb-3">
          <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
      <div class="social-auth-links text-center mb-3">
        <a class="btn btn-block btn-primary text-white" (click)='login()'>
          Ingresar
        </a>
      </div>
      <div *ngIf="show" >
        <mat-spinner style="margin:0 auto;" mode="indeterminate"></mat-spinner>
      </div>
    </div>
  </div>
  </div>
</div>
