<div class="container">
  <label for="">fecha    </label>
  <input type="date" [(ngModel)]='inicial'>

  <button class="btn btn-info"  (click)='buscar()'>Buscar Facturas</button>
  <button class="btn btn-danger" (click)='Reporte()'>Generar Reporte</button>
  <div class="table-responsive">
    <table id="example2" class="table table-responsive table-bordered table-striped table-hover dataTable " #content>
      <thead class="thead-dark" >
        <tr>
          <th>Factura</th>
          <th >Fecha de Factura</th>
          <th>Proveedor</th>
          <th>Régimen</th>
          <th>Estado de la factura</th>
          <th>IVA</th>
          <th>Total</th>
          <th>Detalles</th>
          <th>Gestionar</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let row of datos | paginate: { itemsPerPage: 6, currentPage: p , totalItems: total}" ng-dblclick="gestionar()">
        <td >{{row.facturaVenta}}</td>
        <td >{{row.fechaFactura}}</td>
        <td >{{row.proveedoresEntity.nombre}}</td>
        <td >{{row.proveedoresEntity.regimen}}</td>
        <td >{{row.estado}}</td>
        <td >{{row.iva}}</td>
        <td >{{row.total}}</td>
        <td><button class="btn btn-info" data-toggle="modal" data-target="#detalleFactura" (click)='ver(row)'>ver Detalles factura</button></td>
        <td>
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <mat-icon aria-hidden="false" aria-label="Example home icon">more_vert</mat-icon>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)='aprobar(row)'>Aprobar</a>
          <a class="dropdown-item"  (click)='rechazar(row)'>Rechazar</a>
        </div></td>
      </tr>
      </tbody>

</table>
<pagination-controls  class="dataTables_paginate paging_simple_numbers" (pageChange)="p = $event"></pagination-controls>

  </div>

   <!-- Modal -->
   <div class="modal fade" id="detalleFactura" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Ver detalle de la factura {{factura}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group">

            <li class="list-group-item active"  aria-disabled="true">
              <div class="row">
                <div class="col">
                  Cantidad
                </div>
                <div class="col">
                  Descripción
                </div>
                <div class="col">
                  Valor unitario
                </div>
                <div class="col">
                  Valor Total
                </div>

              </div>
            </li>

            <li class="list-group-item" *ngFor = "let row of detalle">
              <div class="row">
                <div class="col">

                  <p>{{row.cantidad}}</p>
                </div>
                <div class="col">
                  {{row.producto}}
                </div>
                <div class="col">
                  {{row.valorUnidad}}
                </div>
                <div class="col">
                  {{row.total}}
                </div>

              </div>
            </li>

          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" >Cerrar</button>
           </div>
      </div>
    </div>
  </div>
</div>
