<div class="wrapper" *ngIf="menu.session">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" >Prueba</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item "*ngFor="let item of menu.menuAdmin;let i = index">
          <button mat-button [routerLink]="[item.url]"> {{item.name}} </button>
        </li>

      </ul>

        <a href ='' class="btn btn-outline-danger my-2 my-sm-0"  >Cerrar Sessión</a>

    </div>

  </nav>


